body{ background-color:skyblue; font-family: sans-serif}
.common{position:absolute}

.header{top:0px; left:0px; right:0px; height:100px; z-index: 5; background-color: white; text-align: center; padding-left: 20px; padding-right:20px; padding-top:20px;}

.footer{bottom:0px; height:100px; left:0px; right:0px; font-size:20px; text-align: center; position:fixed; background-color: White;}

.mainbody{top:164px; left:0px; right:0px; bottom:64px; Z-index:4; text-align: center}

.center{top: 130px;  padding-bottom:150px;
}

.HFont {
    font-size: 1.4rem; 
}

.subheader{
color:navy; text-decoration: none; text-align: right}

.nam{
    font-weight: bold; float:left; color:navy
}

.tabfor{
    width: 400px;
}

.titl{
    float:center; color:navy; padding-top: 50px; font-size: 3rem; font-weight:bolder;
}

.flr{ float:right}

.Capt{ font-size:1.5rem; text-align: center; padding-right: 200px; padding-left:200px}